body,html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0
}

body {
    background-color: rgb(106, 134, 175);
    margin: 0;
    overflow: hidden;
    font-family: Helvetica,Arial;
    font-size: 15px
}

div#message {
    position: absolute;
    top: 60px;
    text-align: center;
    margin: auto;
    width: 100%;
    z-index: 1
}

.graph {
    width: 100%;
    height: 100%
}

#stats {
    position: absolute;
    right: 10px;
    bottom: 21px
}

#stats>* {
    text-align: right
}

#tx-info {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 2
}

div#title {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 20px;
    z-index: 2
}

span#confirmed {
    background: #000;
    border: 2px solid #000
}

span#tip {
    background: #4ee5ec;
    border: 2px solid #000
}

span#milestone {
    background: #f82061;
    border: 2px solid #000
}

span#node {
    background: #fff;
    border: 3px solid #000
}

#confirming-tx {
    background: #e7a518;
    border: none
}

#confirmed-by-tx {
    border: none;
    background: #1c1fcc
}

#bundle {
    border: none;
    background: #1287ff
}

.legend {
    line-height: 17px
}

.circle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 10px;
    height: 10px;
    background: #4ee5ec;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #000;
    margin: 0 3px
}

#title input {
    border: 1px solid #333;
    margin: 10px 0;
    padding: 5px
}


div#options {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2
}

.tgl {
    display: none
}

.tgl,.tgl *,.tgl :after,.tgl :before,.tgl+.tgl-btn,.tgl:after,.tgl:before {
    box-sizing: border-box
}

.tgl ::-moz-selection,.tgl :after::-moz-selection,.tgl :before::-moz-selection,.tgl+.tgl-btn::-moz-selection,.tgl::-moz-selection,.tgl:after::-moz-selection,.tgl:before::-moz-selection {
    background: 0 0
}

.tgl ::selection,.tgl :after::selection,.tgl :before::selection,.tgl+.tgl-btn::selection,.tgl::selection,.tgl:after::selection,.tgl:before::selection {
    background: 0 0
}

.tgl+.tgl-btn {
    outline: 0;
    display: inline-block;
    width: 20px;
    height: 10px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.tgl+.tgl-btn:after,.tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%
}

.tgl+.tgl-btn:after {
    left: 0
}

.tgl+.tgl-btn:before {
    display: none
}

.tgl:checked+.tgl-btn:after {
    left: 50%
}

.tgl-light+.tgl-btn {
    background: #f1f1f1;
    border-radius: 2em;
    padding: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.tgl-light+.tgl-btn:after {
    border-radius: 50%;
    background: #ccc;
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.tgl-light:checked+.tgl-btn {
    background: #9fd6ae
}

.tgl-light:checked+.tgl-btn:after {
    left: 50%;
    background: #60af8b
}

.option-label span {
    margin: 6px
}

label.option-label {
    cursor: pointer
}

.option {
    margin: 5px
}

.option>* {
    float: right
}

body.dark-mode {
    background: #071821;
    color: #fff
}

.dark-mode span#confirmed {
    background: #fff;
    border-color: #fff
}

.dark-mode span#node {
    background: #000
}

.dark-mode span.circle {
    border-color: #fff!important
}

.dark-mode a {
    color: #fff
}

a {
    color: #000
}


.option:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    right: 172px;
    top: 12px;
    background: #080808;
    padding: 5px;
    width: max-content;
    border-radius: 5px;
    color: #fff
}

.option {
    position: relative
}

.loader {
    border: 6px solid #1d1d1d;
    border-top: 6px solid #fff;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    animation: spin 2.5s linear infinite
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.loader-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 100
}

.loader-wrapper .progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%)
}